html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(135deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}
.container {
  position: absolute;
  margin-top: 5em;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
table {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  border-collapse:hidden;
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
  font-size: 20px;
  background-color: rgba(73,160,157,0.2);
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 15px;
}
tbody td {
  position: relative;
  font-size: 15px;
  padding: 5px;
  font-weight: 300;;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}